
img {
	display: block;
}
li {
	list-style: none;
}
p {
	font-weight: bold;
	color: #fff;
}
div {
	color: #fff;
}

img#voting_background {
	position: fixed;
	top: -5%;
	left: 2.5%;
	width: 95%;
	position: relative;
}
#voting_title {
	position: absolute;
	top: -4.5%;
	left: 5%;
	width: 90%;
	text-align: center;
	color: #fff;
	z-index: 777;
}
img#voting_banner {
	position: absolute;
	top: 1%;
	left: 4%;
	border: 1.5px solid #14c9e8;
}
div#announce {
	position: absolute;
	top: 16%;
	left: 5%;
	width: 90%;
	text-align: center;
	color: #fff;
	font-size: 0.7rem;
	line-height: 1;

}
div#voting_list {
	position: absolute;
	top: 25%;
	left: 15%;
	width: 70%;
}
div#voting_list2 {
	position: absolute;
	top: 33.5%;
	left: 15%;
	width: 70%;
}
.name_list {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 100%;
    background-image: url('../img/voting/list_btn.png');
    background-size: 15% 90%;
    background-repeat: no-repeat;
    background-position: 1% center;
    color: #fff;
    background-color: rgba(0,0,0,1);
    border: 1px solid #eab602;
    border-radius: 2px;
    padding: 2% 0 2% 25%;
}
.point_list {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 100%;
    background-image: url('../img/voting/list_btn.png');
    background-size: 15% 90%;
    background-repeat: no-repeat;
    background-position: 1% center;
    color: #fff;
    background-color: rgba(0,0,0,1);
    border: 1px solid #eab602;
    border-radius: 2px;
    padding: 3% 0 3% 25%;
}
#vote_btn {
	position: absolute;
	top: 42.5%;
	left: 27%;
}
img#ranking_btn {
	position: absolute;
	top: 55%;
	right: 4%;
	z-index: 100;
}
div#rank_list {
	position: absolute;
	top: 54%;
	left: 4%;
	width: 92%;
}

div#rank_list ul {
	position: absolute;
	bottom: 2%;
	left: 1%;
	width: 98%;
	height: 85%;
}
div#rank_list ul li {
	position: relative;
	height: 31%;
	width: 100%;
}
div#rank_list ul li:first-child {
	height: 37%;
}
	div#rank_list .rank {
		position: absolute;
		bottom: 0%;
		left: 0%;
		width: 9%;
	}
	div#rank_list .image {
		position: absolute;
		bottom: 0%;
		left: 12.5%;
		width: 13%;
		border: 1px solid #eab602;
	}
	div#rank_list ul li:first-child .image {
		position: absolute;
		bottom: 0%;
		left: 10%;
		width: 15.5%;
	}
	div#rank_list .border {
		position: absolute;
		bottom: 0%;
		right: 0%;
		width: 73%;
		border-bottom: 2px solid #fff;
		overflow: hidden;
	}
		div#rank_list .rank_name {
			float: left;
			width: 49%;
			text-align: center;
		}
		div#rank_list .rank_point {
			float: right;
			width: 51%;
			text-align: right;
		}

#overlay {
	display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 888;
}

#over {
	display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 900;
}
/***********************************/
/********* popup_confirm ***********/
/***********************************/

div#popup_confirm {
	width: 80%;
	position: fixed;
	top: 15%;
	left: 10%;
	display: none;
	z-index: 999;
}
div#popup_confirm .name {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	text-align: center;
	font-size: 1.5rem;
	border-bottom: 2px solid #fff;
}
div#popup_confirm .point {
	position: absolute;
	top: 35%;
	left: 10%;
	width: 80%;
	text-align: center;
	font-weight: bold;
}
div#popup_confirm .accept {
	position: absolute;
	top: 65%;
	left: 25%;
	width: 50%;
}
div#popup_confirm .accept a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: #eab602;
	font-weight: bold;
}
div#popup_confirm .cancel {
	position: absolute;
	top: 82%;
	left: 25%;
	width: 50%;
}
div#popup_confirm .cancel a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: #eab602;
	font-weight: bold;
}

/***********************************/
/********* popup_finish ***********/
/***********************************/

div#popup_finish {
	width: 80%;
	position: fixed;
	top: 15%;
	left: 10%;
	display: none;
	z-index: 999;
}
div#popup_finish .name {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	text-align: center;
	font-size: 1.5rem;
	border-bottom: 2px solid #fff;
}
div#popup_finish .point {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	text-align: center;
	font-weight: bold;
}
div#popup_finish .close {
	position: absolute;
	top: 82%;
	left: 25%;
	width: 50%;
}
div#popup_finish .close a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: #eab602;
	font-weight: bold;
}
#result_sns {
	position: absolute;
	top: 50%;
	left: 30%;
	width: 40%;
}
.result_shere {
	position: absolute;
	top: 69%;
	left: 20%;
	width: 60%;
	text-align: center;
	color: #fff;
}
/***********************************/
/*********** popup_alert ***********/
/***********************************/
div#popup_alert {
	width: 80%;
	position: fixed;
	top: 15%;
	left: 10%;
	display: none;
	z-index: 999;
}
div#popup_alert .cancel {
	position: absolute;
	top: 75%;
	left: 25%;
	width: 50%;
}
div#popup_alert .cancel a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: #eab602;
	font-weight: bold;
}
div.alert {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	text-align: center;
	color:#ff0000;
}

/***********************************/
/********* popup_ranking ***********/
/***********************************/

div#popup_ranking {
	display: none;
	width: 85%;
	position: fixed;
	top: 3%;
	left: 7.5%;
	z-index: 999;
}
div#popup_ranking ul {
	position: absolute;
	top: 5%;
	left: 1%;
	width: 98%;
	height: 94%;
	overflow: scroll;
}
div#popup_ranking ul li {
	position: relative;
	height: 10%;
	width: 100%;
}
	div#popup_ranking ul li:first-child {
		height: 15%;
	}
	div#popup_ranking ul li:nth-child(2) {
		height: 12%;
	}
	div#popup_ranking ul li:nth-child(3) {
		height: 12%;
	}
	div#popup_ranking ul li .rank {
		position: absolute;
		bottom: 0%;
		left: 0%;
		width: 9%;
	}
	div#popup_ranking ul li .image {
		position: absolute;
		bottom: 0%;
		left: 15%;
		width: 10.5%;
		border: 1px solid #eab602;
	}
	div#popup_ranking ul li:first-child .image {
		position: absolute;
		bottom: 0%;
		left: 10%;
		width: 15.5%;
	}
	div#popup_ranking ul li:nth-child(2) .image {
		position: absolute;
		bottom: 0%;
		left: 12.5%;
		width: 13%
	}
	div#popup_ranking ul li:nth-child(3) .image {
		position: absolute;
		bottom: 0%;
		left: 12.5%;
		width: 13%
	}
	div#popup_ranking ul li .border {
		position: absolute;
		bottom: 0%;
		right: 0%;
		width: 73%;
		border-bottom: 2px solid #fff;
	}
		div#popup_ranking ul li .rank_name {
			float: left;
			width: 50%;
			text-align: center;
		}
		div#popup_ranking ul li.rank_point {
			float: right;
			width: 50%;
			text-align: right;
		}

/***********************************/
/********** votingresult ***********/
/***********************************/

div#result_rank {
	position: absolute;
	top: 18%;
	left: 4%;
	width: 92%;
}

div#result_rank ul {
	position: absolute;
	bottom: 2%;
	left: 1%;
	width: 98%;
	height: 85%;
}
div#result_rank ul li {
	position: relative;
	height: 31%;
	width: 100%;
}
div#result_rank ul li:first-child {
	height: 37%;
}
	div#result_rank .rank {
		position: absolute;
		bottom: 0%;
		left: 0%;
		width: 9%;
	}
	div#result_rank .image {
		position: absolute;
		bottom: 0%;
		left: 12.5%;
		width: 13%;
		border: 1px solid #eab602;
	}
	div#result_rank ul li:first-child .image {
		position: absolute;
		bottom: 0%;
		left: 10%;
		width: 15.5%;
	}
	div#result_rank .border {
		position: absolute;
		bottom: 0%;
		right: 0%;
		width: 73%;
		border-bottom: 2px solid #fff;
		overflow: hidden;
	}
		div#result_rank .rank_name {
			float: left;
			width: 49%;
			text-align: center;
		}
		div#result_rank .rank_point {
			float: right;
			width: 51%;
			text-align: right;
		}

#result_rank_btn {
	position: absolute;
	top: 19%;
	right: 4%;
	z-index: 100;
}
#result_announce {
	position: absolute;
	top: 62%;
	left: 5%;
	width: 90%;
	text-align: center;
	color: #fff;
	line-height: 1;	
}