@charset "utf-8";
@import "compass";
@import "compass/reset/";
/* ここまで reset.css */

@mixin wrapper{
	margin: 0 auto;
	width: 90%;
	max-width: 980px;
}
@mixin clearfix{
	*zoom:1;

	&:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
}

$base_font: sans-serif ,Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック";



html,body{
	font-size: 12px;
	-webkit-text-size-adjust: 100%;
	font-family: $base_font;
}

header{
	width: 100%;

	h1{

	}
}
@import "media_query";