@charset "UTF-8";

$themeColor: #e798b3;
$themeDarkColor: #3d0b2f;

a {
	color: $themeColor;
	text-decoration: none;
}

div#twitter {
	border-top: solid 1px $themeColor;
	border-bottom: solid 1px $themeColor;
	background: no-repeat 15px 50% url(../../img/theme/tsunemori/twitterIcon.png) $themeDarkColor;
	background-size: 18px 15px;
	div#marquee {
		p {
			color: $themeColor;
		}
	}
}

img#character {
	position: fixed;
	bottom: 0;
	width: auto;
	height: 90%;
}

div#opening {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 100px;
	img#character {
		position: static;
	}
}

header#windowHeader {
	&:before {
		border-bottom: 1px solid $themeColor;
	}
}

div#window {
	border: 1px solid $themeColor;
	border-top: none;
	article#contents {
		section.oneNews {
			h2 {
				color: $themeColor;
				&.newsTitle {
					border-left: 6px solid $themeColor;
				}
			}
		}
	}
}

div#informationArea {
	div.youtubeArea {
		border: 2px solid $themeColor;
	}
}

div#profileWindow {
	border: 1px solid $themeColor;
	border-top: none;
	div#profileArea {
		div#profile {
			p#name {
				color: $themeColor;
			}
			table {
				th {
					border: 1px solid $themeColor;
					background-color: $themeColor;
				}
				td {
					border: 1px solid $themeColor;
					&#id {
						color: $themeColor;
					}
				}
			}
		}
	}
}

div#controlBox {
	a.transparentButton {
		margin-bottom: 20px;
		border: 1px solid $themeColor;
	}
}

div#pointArea {
	table {
		border: 1px solid $themeColor;
		td {
			border: 1px solid $themeColor;
			background-color: $themeColor;
		}
	}
}

div#themeNote {
	border: 1px solid $themeColor;
}

div.onePaper {
	border: 1px solid $themeColor;
}