.topText {
	position: absolute;
	top: 50%;
	left: 14.5%;
	width: 27%;
}
#sidebar {
	width: 20%;
	float:left;
	margin: 0 auto;
}
#sidebar ul{
	border-top: 1px dashed #bbb;
}
#sidebar ul li{
	width: 100%;
	text-align: center;
	border-bottom: 1px dashed #bbb;
}
#sidebar ul li a{
	padding: 7% 0;
	font-weight: bold;
}
#sidebar ul li a:hover {
	color: orange;
	background: rgba(250,250,250,1);
}
#mainContent {
	float:right;
	width: 75%;
}
h2{
	border-left: 3px solid rgba(0,120,205,1);
	padding-left: 3%;
	margin-right: 5%;
	font-weight: bold;
	margin-bottom: 30px;
}
h2 span {
	margin-left: 2%;
	font-size: 80%;
	color: #bbb;
}
.sitemap {
	float: left;
	width: 32%;
	margin-right: 1%;
	margin-bottom: 50px;
}
.sitemap:nth-child(3n){
	margin-right: 0%;
}
.sitemap h2{
	border-left: 3px solid rgba(0,120,205,1);
	padding-left: 5%;
	margin-right: 5%;
	font-weight: bold;
	margin-bottom: 20px;
}
.sitemap ul {
	margin-left: 5%;
}
.sitemap ul li {
}
.sitemap ul li a {
	padding-bottom: 1%;
}
.sitemap ul li a:hover{
	text-decoration: underline;
	color: orange;
}
.sitemap ul li a:before {
	display: inline;
	content:"▸ ";
	font-size: 120%;
}