@charset "UTF-8";

html,body {
	-webkit-text-size-adjust: 100%;
}

.clearfix:after,.bx-pager:after {
	content: ".";
	height: 0;
	font-size: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#portalBackground {
	width:100%;
	color:#fff;
	overflow: hidden;
	position: relative;
}
header{
	position: absolute;
	width:100%;
	top:0%;
	left:0%;
}
footer{
	position: absolute;
	width:100%;
	bottom:0%;
	left:0%;
}
#contentBox {
	position: absolute;
	top:10%;
	left: 5%;
	width:90%;
}
	#headerTitleFrame{
		width:56%;
	}
	#mark{
		position: absolute;
		top:7%;
		left:2%;
		-moz-animation: psychoMark 4s linear 1s infinite;
		-webkit-animation: psychoMark 4s linear 1s infinite;
	}
	@-moz-keyframes psychoMark {
		0% {
			-moz-transform: rotateY(0deg);
		}
		20% {
			-moz-transform: rotateY(180deg);
		}
		40% {
			-moz-transform: rotateY(0deg);
		}
	}
	@-webkit-keyframes psychoMark {
		0% {
			-webkit-transform: rotateY(0deg);
		}
		20% {
			-webkit-transform: rotateY(180deg);
		}
		40% {
			-webkit-transform: rotateY(0deg);
		}
	}
	#gauge{
		position: absolute;
		top:15%;
		right: 28%;
		width:13%;
	}
	#ptFrame{
		position: absolute;
		top:50%;
		right: 23%;
		width:19%;
	}
	#toGame{
		float:right;
		width:20.5%;
	}
	#headerTitle{
		position: absolute;
		top:18%;
		left:18%;
		width:34%;
		font-weight: bold;
		font-style: oblique;
		font-size: 150%;
		text-align: center;
	}
	#userNumber{
		position: absolute;
		bottom:0%;
		left:42%;
		font-size: 50%;
	}
	#myPoint{
		position: absolute;
		top:56.5%;
		right: 25.5%;
		font-size: 70%;
	}
	#contentFrame {
		margin: 0 auto;
		margin-bottom: 3%;
		width: 94%;
		position: relative;
		-moz-animation: contentFrame 1s ease-in;
		-webkit-animation: contentFrame 1s ease-in;
	}
	@-moz-keyframes chara {
		0% {
			display: none;
		}
		30% {
			display: block;
		}

	}
	@-webkit-keyframes chara {
		0% {
			display: none;
		}
		30% {
			display: block;
		}
	}

	#contentTitle{
		position: absolute;
		top:0.5%;
		left:2%;
		width:25%;
		font-size: 50%;
		text-align: center;
		font-weight: bold;
		font-style: oblique;
		color: #000;
	}
	#contentText{
		position: absolute;
		top:7%;
		left:2%;
		width:93%;
		height:80%;
		overflow: auto;
	}
	#contentText h2 {
		color: rgba(100,255,225,0.9);
	}
	#contentText p {
		width: 90%;
		margin: 0 auto;
		margin-top: 4%;
		font-size: 90%;
	}
	.slider{
	}
	#sns {
		margin-bottom: 10%;
	}
	#tweet{
		float:left;
		width:49%;
	}
	#share{
		float:right;
		width: 49%;
	}

	#chara {
		display: block;
		position: absolute;
		bottom: 0%;
		right: 0%;
		width:35%;
		-moz-animation: chara 1s ease-in;
		-webkit-animation: chara 1s ease-in;
	}
	@-moz-keyframes chara {
		0% {
			-moz-transform: translateX(100%);
		}
		30% {
			-moz-transform: translateX(0%);
		}

	}
	@-webkit-keyframes chara {
		0% {
			-webkit-transform: translateX(100%);
		}
		30% {
			-webkit-transform: translateX(0%);
		}

	}
	#btnFrame{
		width:100%;
	}
	#btn{
		position: absolute;
		top:14%;
		left:2%;
		width:96%;
	}
	#btn li {
		float:left;
		width:19.5%;
		margin-left: 0.5%;
		list-style: none;
	}



/***** スクロールバー ******/
.nicescroll-cursors{
	width: 3px !important;
	border:none !important;
	border-radius: none !important;
	background-color: #eee !important;
}

/******************
    news.css
*******************/

#infoContent{
	position: absolute;
	top:5%;
	left:2%;
	width:95%;
	height:90%;
	overflow: auto;
}
#infoContent li {
	margin-bottom: 3%;
}
#newsContent{
	position: absolute;
	top:8%;
	left:1%;
	width:95%;
	height:86%;
	overflow: auto;
	}
	#newsContent li {
		position: relative;
		margin-top: 2%;
		margin-bottom: 5%;
	}
	#newsContent .listLogo {
		position: absolute;
		top:3%;
		left:3%;
		width: 5%;
	}#newsContent .new {
		position: absolute;
		top:6%;
		left: 1.5%;
		width: 8%;
	}
	#newsContent .oneNews {
	 	float:right;
	 	margin-right: 7%;
	 	width: 85%;
	 	font-size: 95%;
	}
	h2.newsTitle {
		width: 100%;
		margin-bottom: 3%;
		margin-left: 3%;
	}
	h2.newsTitle2 {
		width: 100%;
		margin-bottom: 3%;
		margin-left: 3%;
		color:#aaa;
	}
	h2.newsTitle:active {
		color: orange;
	}
	h2.newsTitle2:active {
		color: #ccc;
	}
	#newsContent .bar {
	 display:block;
	 position: absolute;
	 bottom:11%;
	 right: 40%;
	 border-bottom:1px solid #fff;
	 width:50%;
	}
	 #newsContent .date{
	 	float: right;
	 	text-align: right;
	 	font-size: 90%;
	 }
#newsChara {
	float:right;
	width:35%;
	margin-right: 10%;
}
#newsChara2 {
	float:left;
	width:35%;
	margin-left: 10%;
}
#chara1 {
	display: block;
	float: right;
	width:35%;
	margin-top: -5%;
}
	#subContent{
		position: relative;
		width:100%;
	}
	#back{
		position: absolute;
		top: 35%;
		left:10%;
		width:48%;
	}
	#backText{
		position: absolute;
		top: 40%;
		left:11%;
		width:45%;
		text-align: center;
		font-size: 130%;
		font-weight: bold;
	}

#titleFrame{
	position: relative;
}
#titleFrameText{
	position: absolute;
	top:25%;
	left:3%;
	font-size: 50%;
	color:#000;
	font-weight: bold;
	font-style: oblique;
	text-align: center;
}
#toChangeTheme{
	position: relative;
	width:49%;
	float:left;
}
	#toChangeThemeText{
		position: absolute;
		top:15%;
		left:10%;
		width: 75%;
		text-align: center;
		font-size: 130%;
		font-weight: bold;
	}
#toWallPaper{
	position: relative;
	float:right;
	width:49%;
}
	#toWallPaperText{
		position: absolute;
		top:15%;
		right:15%;
		width: 70%;
		text-align: center;
		font-size: 130%;
		font-weight: bold;
	}


#newsDetail {
	position: absolute;
	top:8%;
	left:5%;
	width:90%;
	height:78%;
	overflow: auto;
}
#newsDetail li {
	width:96%;
}
#newsDetail .newsTitle{
}
#newsDetail .text {
	font-size: 90%;
}

/*********************
スライダー
*********************/

.bx-pager{
	margin: 0 auto !important;
	width:50% !important;
	margin-top: 2% !important;
	margin-bottom: 5% !important;
}
.bx-pager-item {
	float:left;
	margin-left: 4px;
	text-align: center;
}
.bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width:10px;
	height:10px;
	margin: 0 5px;
	outline:0;
	border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #ff8c00;
}
.bx-prev{
	display: none;
}
.bx-next{
	display: none;
}

#subContentBox {
	position: absolute;
	bottom: 15%;
	left: 5%;
	width: 90%;
}

@media screen and (min-width: 500px) {
	html, body {
		font-size: 130%;
	}
}

@media screen and (min-width: 1000px) {
	html, body {
		font-size: 150%;
	}
}