html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Verdana, Arial;
	font-size: 14px;
	width: 100%;
   background-color: #005B70;
}

#header {
	width: 100%;
	height: 150px;
	background-color: #005B70;
}

div.title {
	width: 1280px;
	margin: 0 auto;
}

div.title>h1 {
	width: 200px;
	height: 75px;
	font-size: 50px;
	padding-top: 15px;
   text-align: center;
}

div.title>h1>a {
   text-decoration: none;
   color: white;

}


div.menu {
	width: 100%;
	background-color: #005B70; /* バーの背景色 */
	border-top: 3px double #800000; /* バーの上端線 */
	border-bottom: 3px double #800000; /* バーの下端線 */
	min-width: 630px; /* メインメニュー全部が収まる最低横幅 */
}

div.menu>ul {
	width: 1280px;
	margin: 0 auto;
	padding: 0px; /* メニューバー内側の余白 */
	height: 30px; /* メニューバーの高さ */
}

div.menu ul#menubar li {
   width: 120px; /* メニュー項目の横幅 */
   height: 30px; /* メニュー項目の高さ(「メニューバーの高さ」と一致させる) */
   float: left;
   list-style-type: none;
   position: relative;
   border-right: 1px solid #000;
}

div.menu ul#menubar li.left {
   border-left: 1px solid #000;
}


div.menu ul#menubar a {
   background-color: #005B70; /* メニュー項目の背景色 */
   color: white; /* メニュー項目の文字色 */
   line-height: 30px; /* メニュー項目のリンクの高さ(「メニュー項目の高さ」と一致させる) */
   text-align: center; /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none; /* メニュー項目の装飾(下線を消す) */
   display: block;
   width: 100%;
   height: 100%;
}
div.menu ul#menubar a:hover {
   background-color: #EFFCFF; /* メニュー項目にマウスが載ったときの背景色 */
   color: #cc0000; /* メニュー項目にマウスが載ったときの文字色 */
}
/* メニューバー直後のClearfix */
div.menu ul#menubar { zoom:1; }
div.menu ul#menubar:after { height: 0; visibility: hidden; content: "."; display: block; clear: both; }

div.menu ul#menubar ul.sub {
   background-color: #cc0000; /* サブメニュー全体の背景色 */
   border-width: 1px 1px 0px 1px; /* サブメニュー全体の枠線の太さ */
   border-style: solid; /* サブメニュー全体の枠線の線種 */
   border-color: #800000; /* サブメニュー全体の枠線の色 */
   margin: 0px;
   padding: 0px;
   display: none;
   position: absolute;
}
div.menu ul#menubar ul.sub li {
   width: 120px; /* サブメニュー1項目の横幅 */
   height: 35px; /* サブメニュー1項目の高さ */
   border-width: 0px 0px 1px 0px; /* サブメニュー1項目の枠線の太さ */
   border-style: solid; /* サブメニュー1項目の枠線の線種 */
   border-color: #800000; /* サブメニュー1項目の枠線の色 */
}
div.menu ul#menubar ul.sub li a {
   line-height: 35px; /* サブメニュー1項目の行の高さ(「サブメニュー1項目の高さ」と合わせる) */
   text-align: left;  /* サブメニュー1項目の項目名の配置(左寄せ) */
   text-indent: 5px;  /* サブメニュー1項目の項目名前方の余白 */
}
div.menu ul#menubar ul.sub li a:hover {
   background-color: #EFFCFF; /* サブメニュー項目にマウスが載ったときの背景色 */
   color: #005500; /* サブメニュー項目にマウスが載ったときの文字色 */
}

