html,body {
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	-webkit-text-size-adjust: 100%;
	font-size: 12px;
}
#wrapper {
	width: 100%;
	padding-top: 2%;
	background: black;
}
.content {
	width: 100%;
	overflow: scroll;
}
.content li {
	width: 80%;
	margin: 13% 10%;
	padding: 2% 4%;
	background-image: url("/www/img/help/help_button.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	overflow: hidden;
}
.content li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 2% 0;
	font-weight: bold;
}
@media screen and (min-width: 500px) {
	html,body {
		font-size: 18px;
	}
}

@media screen and (min-width: 1000px) {
	html, body {
		font-size: 32px;
	}
}