html,body {
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	-webkit-text-size-adjust: 100%;
	font-size: 12px;
}

#wrapper {
	width: 100%;
	padding-top: 2%;
	background: black;
}
.content {
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
	.list {
		margin: 0 auto;
		width: 94%;
		margin-bottom: 3%;
	}
	.frame1 {
		width: 95%;
		padding: 2% 2% 1% 3%;
		background-image: url("/www/img/help/frame.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.frame2 {
		width: 100%;
		padding-top: 0.5%;
		background-image: url("/www/img/help/frame2.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
	}
	.green1 {
		background-image: url("/www/img/help/green_frame.png");
	}
	.green2 {
		background-image: url("/www/img/help/green_frame2.png");
	}
	h2 {
		width: 80%;
		padding-left: 6%;
		padding-right: 14%;
		padding-bottom: 2%;
		color: #fff;
		background-image: url("/www/img/help/title.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	.text {
		width: 99%;
		height: 96%;
		color: #fff;
		padding-left: 1%;
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.banner {
		margin: 0 auto;
		width: 90%;
		margin-top: 2%;
		margin-bottom: 3%;
	}
	.date {
		position: absolute;
		bottom: 8%;
		right: 28%;
		width: 70%;
		color: #fff;
		text-align: right;
	}
	.detail>img{
		float: right;
		width: 24.8%;
		height: 6%;
		border-radius: 5px;
		border-radius: 4px;
	}
	.list:after, .frame2:after {
		content: ".";
		display: block; 
		height: 0; 
		font-size: 0;	
		clear: both; 
		visibility: hidden;
	}

/********** タブレット用CSS ***************/

@media screen and (min-width: 500px) {
	html, body {
		font-size: 18px;
	}
}

@media screen and (min-width: 1000px) {
	html, body {
		font-size: 32px;
	}
}
