 
#contentFrame {
	position: absolute;
	top:11%;
	left: 3%;
	width:94%;
}
#infoContent{
	position: absolute;
	top:5%;
	left:2%;
	width:95%;
	height:92%;
	overflow: auto;
}
#infoContent li {
	margin-bottom: 2%;
}