a{color:#ef2248;text-decoration:none}
div#twitter{border-top:solid 1px #ef2248;border-bottom:solid 1px #ef2248;background:no-repeat 15px 50% url(../../img/theme/kagari/twitterIcon.png) #300a11;background-size:18px 15px}
div#twitter div#marquee p{color:#ef2248}
img#character{position:fixed;bottom:0;width:auto;height:90%}
div#opening{position:absolute;width:100%;height:100%;padding-left:100px}
div#opening img#character{position:static}
header#windowHeader:before{border-bottom:1px solid #ef2248}
div#window{border:1px solid #ef2248;border-top:none}
div#window article#contents section.oneNews h2{color:#ef2248}
div#window article#contents section.oneNews h2.newsTitle{border-left:6px solid #ef2248}
div#window2{border:1px solid #ef2248;border-top:none}
div#window2 article#contents section.oneNews h2{color:#ef2248}
div#window2 article#contents section.oneNews h2.newsTitle{border-left:6px solid #ef2248}
div#informationArea div.youtubeArea{border:2px solid #ef2248}
div#profileWindow{border:1px solid #ef2248;border-top:none}
div#profileWindow div#profileArea div#profile p#name{color:#ef2248}
div#profileWindow div#profileArea div#profile table th{border:1px solid #ef2248;background-color:#ef2248}
div#profileWindow div#profileArea div#profile table td{border:1px solid #ef2248}
div#profileWindow div#profileArea div#profile table td#id{color:#ef2248}
div#controlBox a.transparentButton{margin-bottom:20px;border:1px solid #ef2248}
div#pointArea table{border:1px solid #ef2248}
div#pointArea table td{border:1px solid #ef2248;background-color:#ef2248}
div#themeNote{border:1px solid #ef2248}
div.onePaper{border:1px solid #ef2248}
div#modal-content{border: 1px solid #ef2248;}
div#footerPoint{border: 1px solid #ef2248;}
footer #Pt{border:solid 1px #ef2248;}
h2.newsTitle2{border-left:6px solid #8f142b}
a.read{color:#8f142b;text-decoration:none}
div#controlBoxRecord a.transparentButton{margin-bottom:0;border:1px solid #ef2248}
div#controlBox a.transparentButtonEvent{border:1px solid #ef2248}
div.historyDetail{border:1px solid #ef2248;}
div.eventDetail{border:1px solid #ef2248;}
#cap-back{border:1px solid #ef2248;}
div#pr_movie{border: 1.5px solid #ef2348;}
#changeName{border: 1px solid #ef2348;}
#title{border-bottom: 1px solid #ef2348; color:#ef2348;}
#nickname{border: 1px solid #ef2348;}
#ruby{border: 1px solid #ef2348;}
#finish{color:#ef2348;}
.changeNamebtn{border: 1px solid #ef2348;}
div#changeNameresult{border: 1px solid #ef2348;}
div#changeNameresult>#finish{color:#ef2348;}