@charset "UTF-8";
@import"compass/utilities/general/clearfix";

header#windowHeader {
	width: 100%;
}

div#profileWindow {
	@include clearfix;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.56);
	z-index: 50;
	div#imgArea {
		float: left;
		width: 114px;
	}
	div#profileArea {
		float: right;
		width: 100%;
		margin: 0 0 0 -114px;
		div#profile {
			margin: 0 0 0 124px;
			p#name {
				margin-bottom: 20px;
				font-family: serif;
				font-size: 24px;
			}
			table {
				width: 100%;
				font-size: 8px;
				th {
					padding: 5px;
					color: #000;
				}
				td {
					padding: 5px 10px;
				}
			}
		}
	}
}