@charset "UTF-8";

label {
	color: #fff;
	font-size: 14px;
}

input {
	margin-bottom: 12px;
	&[type="text"] {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 12px;
		width: 100%;
	}
}

p {
	&.note {
		margin: 20px 0;
		color: #fff;
		a {
			color: #fff;
			text-decoration: underline;
		}
	}
	&.caution {
		color: #f00;
	}
}

div#controlBox {
	position: absolute;
	margin: auto;
	width: 90%;
	z-index: 50;
	&.confirm {
		position: inherit;
		padding: 20px 0 80px 0;
	}
	&.signupArea {
		position: inherit;
		margin: 10px auto;
		width: 90%;
		color: #fff;
		padding: 20px 0 80px 0;
		p {
			&#email {
				margin-bottom: 12px;
				font-size: 18px;
			}
		}
		div#confirmTable {
			display: none;
		}
		input {
			margin-bottom: 12px;
			&[type="text"],
			&[type="password"] {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				width: 100%;
			}
			&#confirmButton {
				margin: 15px 0;
			}
		}
		select {
			margin-bottom: 12px;
			width: 100%;
		}
	}
	p#agreement {
		text-align: center;
		a {
			padding: 5px 20px;
			border: 1px solid #15b0c2;
			background-color: rgba(0, 0, 0, 0.56);
			color: #15b0c2;
			text-decoration: none;
			font-size: 12px;
		}
	}
}

div.confirm {
	table {
		width: 100%;
		border: 2px solid #15b0c2;
		td {
			border: 1px solid #15b0c2;
			padding: 15px;
			p {
				&.title {
					color: #fff;
				}
				&.input {
					color: #15b0c2;
					font-size: 24px;
					&.jp {
						font-family: serif;
					}
				}
			}
		}
	}
}