@charset "UTF-8";
@import"compass/utilities/general/clearfix";

body {
	background-color: #000;
}

div#wallpaperArea {
	@include clearfix;
	position: inherit;
	margin: auto;
	padding: 20px 0 80px 0;
	width: 90%;
	z-index: 50;
}

div.characterSelect {
	float: left;
	margin: 0 0 20px 0;
	width: 33%;
	text-align: center;
	img {
		width: 90%;
		height: auto;
	}
}

div.nav {
	position: fixed;
	top: 45%;
	z-index: 10;
	&#prevButton {
		left: 10px;
	}
	&#nextButton {
		right: 10px;
	}
}

div#owl-carousel {
	margin: 20px 0 0 0;
	div.onePaper {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: 100%;
		color: transparent;
	}
}