@import "common";
.header_menu{
	display: none;
}
.main_content{
	margin: 0 auto;
	width: 100%;
	@extend .clearfix;
	.contact{
		margin: 0 auto;
		width: 86%;
		font-size: 80%;
		margin-top: 50px;
		margin-bottom: 30px;
		@extend .clearfix;
		.process{
			width: 100%;
			margin-bottom: 20px;
			@extend .clearfix;
			li{
				z-index: 7;
				position: relative;
				float: left;
				width: 30%;
				margin-left:4%;
				padding: 10px 0;
				text-align: center;
				background: $orange3;
				color: $white1;
				line-height: 20px;
				&:before{
					z-index: 8;
					position: absolute;
					top: 0%;
					left: 0px;
					content:"";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 20px 0px 20px 20px;
					border-color: transparent transparent transparent $main;
				}
				&:after{
					position: absolute;
					top: 0%;
					right: -20px;
					content:"";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 20px 0px 20px 20px;
					border-color: transparent transparent transparent $orange3;
				}
				&:first-child{
					margin-left:0;
					&:before{
						display: none;
					}
				}
			}
			.now{
				background: $orange;
				&:after{
					border-color: transparent transparent transparent $orange;
				}
			}
		}
		.contact_inner{
			width: 94%;
			padding: 20px 3%;
			background: $white1;
			@include box-shadow(1px 1px 1px 1px rgba(205,205,205,0.8));
			dl {
				display: table;
				width: 100%;
				border-bottom: 2px solid rgba(225,225,225,0.8);
				@extend .clearfix;
				dt{
					display: table-cell;
					vertical-align: middle;
					width: 20%;
					padding: 15px 0 15px 2%;
					background: $black2;
					color: $white1;
				}
				dd{			
					display: table-cell;
					vertical-align: middle;
					width: 96%;
					padding: 5px 2%;
				}
				input[type="text"]{
					width: 25%;
					margin-right: 2%;
					border: none;
					background: $contact;
					padding: 5px;
					font-size: 110%;
				}
				input[type="select"]{
					width: 10%;
					border: none;
					background: $contact;
					padding: 5px;
					margin-right: 2%;
					font-size: 110%;
				}
				input[type="email"],
				input[type="tel"]{
					width: 70%;
					border: none;
					background: $contact;
					padding: 5px;
					font-size: 110%;
				}
				textarea {
					width: 98%;
					padding: 5px 1%;
					border:none;
					background: $contact;
					font-size: 110%;
				}

			}
			.must{
				dt{
					position: relative;
					background: $black;
					&:after{
						position: absolute;
						top: 10px;
						right: 5%;
						content:"必須";
						background: $orange;
						color: $white1;
						padding: 5px;
						font-size: 90%;
					}
				}
			}			
		}
		.entry{
			margin: 0 auto;
			width: 60%;
			padding: 10px 0;
			margin-top: 30px;
			margin-bottom: 30px;
			a{
				font-size: 110%;
				padding: 20px 0;
				text-align: center;
				color: $white1;
				background: $orange;
				&:hover{
					@include background(linear-gradient($orange3, $orange));
				}
			}
		}
		.policy{
			width: 94%;
			padding: 10px 3%;
			height: 120px;
			background: $white1;
			@include box-shadow(1px 1px 1px 1px rgba(205,205,205,0.8));
			p{
				width: 96%;
				height: 100px;
				padding: 10px 2%;
				background: $contact;
				overflow: auto;
				font-size: 70%;
				line-height: 1.2;
				strong{
					display: block;
					font-size: 130%;
					font-weight: bold;
					margin-bottom:5px;
				}
				span{
					display: block;
					font-size: 110%;
					font-weight: bold;
					margin: 5px 0;
				}
			}
		}
	}
}