@import "sp_common";

.topimage{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	background-image: url(../img/topimage.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	@include filter(contrast(100%));
	.topimage_inner{
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		height: 100%;
	}
	.top_message{
		position: absolute;
		bottom: 40%;
		left:10%;
		width:80%;
		white-space:nowrap;
		overflow:hidden;
		color: $white1;
		@extend .clearfix;
		@include animation(typing 4s steps(100, end) );
		@include keyframes(typing) {
			0% { width: 0;}
			20% { width: 0;}
			100% {width: 80%;}
		}
		.flash {
			@include animation(blink 0.6s ease-in-out alternate infinite);
		}
		@include keyframes(blink) {
			from {opacity: 1;}
			to {opacity: 0;}
		}
	}
	.freeword_search_form{
		position: absolute;
		bottom: 25%;
		left: 10%;
		width: 80%;
		.freeword{
			width: 75%;
			height: 100%;
			font-size: 140%;
			padding: 4px 0;
			@include border-radius(3px 0 0 3px);
			@include box-shadow(0 3px 0 #bbb);
		}
		.submit{
			position: absolute;
			top:2%;
			right:0;
			width: 25%;
			font-size: 130%;
			padding: 4px 0;
			text-align: center;
			background: $orange;
			color: $white1;
			border: none;
			@include border-radius(0 3px 3px 0);
			@include box-shadow(0 3px 0 $orange4);
			&:hover{
				@include filter(opacity(0.9));
			}
		}
	}
}
.explain {
	margin-bottom: 20px;
	@extend .wrapper;
	.message{
		width: 100%;
		margin-bottom: 20px;
		h2{
			display: block;
			font-weight: bold;
			margin-bottom: 10px;
		}
		p{
			font-size: 75%;
			line-height: 1.2;
		}
	}
	.flow{
		width: 100%;
	}
}
.main_content{
	width: 100%;
	section{
		width: 100%;
		margin-bottom: 40px;
		h2{
			text-align: center;
			padding: 10px 0;
			font-size: 140%;
			font-weight: bold;
			background: $orange;
			color: $white1;
			span{
				font-weight: normal;
				font-size: 60%;
			}
		}
		.search_panel{
			width: 100%;
			margin-top: 10px;
			.search_panel_tab_list{
				@extend .clearfix;
				.search_panel_tab{
					float: left;
					width: 30%;
					margin-right: 2%;
					padding: 12px 0;
					text-align: center;
					background: rgba(125,125,125,1);
					color: $white1;
					cursor: pointer;
					border-right: 2px solid rgba(205,205,205,0.6);
					@include border-radius(3px 3px 0 0);
					&:hover{
						@include filter(opacity(0.9));
					}
				}
				.on {
					background: $white1;
					color: $orange;
					cursor: default;
					border: 1px solid $orange;
					border-bottom:none;
				}
			}
			.search_panel_box{
				width: 100%;
				background: $white1;
				@include box-shadow(1px 1px 1px 1px rgba(205,205,205,0.8));
				.search_panel_select{
					display: none;
					width: 90%;
					min-height: 120px;
					padding: 10px 5%;
					@extend .clearfix;
					&:first-child{
						display: block;
					}
					li{
						float:left;
						width: 48%;
						margin-right: 2%;
						font-size: 110%;
						margin-bottom: 10px;
						@include ellipsis(no-wrap);
						input[type=radio] + label,
						input[type=checkbox] + label {
							position: relative;
							display: inline-block;
							line-height: 30px;
							cursor: pointer;
						}
						@media (min-width: 1px) {
						   input[type=radio]{
							    display: none;
						        margin: 0;
							   	+ label {
							        padding: 0 0 0 24px;
								    &:before {
								    	display: block;
								        position: absolute;
								        top: 50%;
								        left: 0;
								        content: "";
								        width: 20px;
								        height: 20px;
								        margin-top: -10px;
								        border: 2px solid #ccc;
								        border-radius: 30px;
								        @include box-sizing(border-box);
								    }
								    &:hover:before{
								    	border: 2px solid $orange;
								    }
						    	}
						    }
						    input[type=checkbox] {
						        display: none;
						        margin: 0;
						        + label {
							        padding: 0 0 0 24px;
								    &:before {
								    	display: block;
								        position: absolute;
								        top: 50%;
								        left: 0;
								        content: "";
								        width: 20px;
								        height: 20px;
								        margin-top: -10px;
								        border: 2px solid #ccc;
								        @include box-sizing(border-box);
								    }
								    &:hover:before{
								    	border: 2px solid $orange;
								    }
								}
							}
						    input[type=radio]:checked + label{
						    	&:before{
							    	border: 2px solid $orange;
							    }
							    &:after{
							        content: "";
							        position: absolute;
							        top: 50%;
							        left: 5px;
							        width: 10px;
							        height: 10px;
							        margin-top: -5px;
							        background: $orange;
							        @include border-radius(10px);
							        @include box-sizing(border-box);
							    }
						    }
						    input[type=checkbox]:checked + label {
						    	&:before {
						    		border: 2px solid $orange;
						    	}
						    	&:after{
							        content: "";
							        position: absolute;
							        top: 50%;
							    	top:55%;
							        left: 3px;
							        width: 14px;
							        height: 7px;
							        margin-top: -7px;
							        border-left: 3px solid $orange;
							        border-bottom: 3px solid $orange;
							        @include transform(rotate(-45deg));
							        @include box-sizing(border-box);
							    }
						    }
						}
					}
				}
				.search_panel_selected{
					width: 96%;
					padding: 10px 2%;
					.selected_item_box{
						position: relative;
						width: 100%;
						border: 1px solid rgba(205,205,205,0.8);
						display: table;
						@extend .clearfix;
						dt {
							display: table-cell;
							vertical-align: middle;
							width: 16%;
							padding: 25px 2%;
							text-align: center;
							background: $orange;
							color: $white1;
						}
						dd{
							display: table-cell;
							width: 78%;
							padding: 5px 1% 30px;
							.selected_item_default{
								position: absolute;
								top: 40%;
								left: 30%
							}
							span{
								display: inline-block;
								margin-right: 10px;
								margin-bottom: 10px;
								padding: 8px;
								cursor: pointer;
								color: $white1;
								font-size: 90%;
								border-radius: 4px;
								border: 1px solid $orange;
								@include background(linear-gradient($orange2, $orange));
								&:hover{
									@include background(linear-gradient($orange3, $orange));
								}
							}
						}
						.selected_item_all_delete{
							position: absolute;
							right: 1%;
							bottom:2%;
							display: none;
							a{
								padding: 8px;
								color: $white1;
								font-size: 90%;
								border-radius: 4px;
								@include background(linear-gradient($black2,$black));
								&:before{
									display: inline-block;
									content: "×";
									margin-right: 5px;
								}
								&:hover{
									@include background(linear-gradient($black3,$black));
								}
							}
						}
					}
				}
				.submit_area {
					margin: 0 auto;
					padding: 20px 15%;
					.submit{
						width: 100%;
						padding: 10px 0;
						font-weight: bold;
						font-size: 120%;
						color: $white1;
						background: $black;
						border:none;
						@include background(linear-gradient($black2,$black));
						&:hover{
							@include background(linear-gradient($black3,$black));
						}
					}
				}
			}
		}
		.pickup_project {
			width: 100%;
			margin-top: 10px;
			section {
				width: 100%;
				margin-bottom: 20px;
				background: $white1;
				@include box-shadow(1px 1px 1px 1px rgba(205,205,205,0.8));
				a{
					padding: 10px 5%;
					&:hover{
						@include opacity(0.8);
					}
					.title{
						width: 100%;
						margin-bottom: 20px;
						font-weight: bold;
						font-size: 120%;
						color: $orange;
					}
					table {
						width: 100%;
						table-layout: fixed;
						font-size: 70%;
						tr {
							border-bottom: 2px solid rgba(225,225,225,0.8);
							th{
								width: 33%;
								padding: 10px 0;
								background: $black;
								color: $white1;
								text-align: center;
							}
							td{
								width: 65%;
								padding-left: 2%;
								@include ellipsis(no-wrap);
							}
						}
					}
					.more {
						display: none;
						margin: 0 auto;
						width: 70%;
						padding: 10px 0;
						text-align: center;
						color: $white1;
						@include background(linear-gradient($black2,$black));
					}
				}
			}
		}
	}
}
