@charset "utf-8";
@import "compass";
@import "compass/reset/";
/**** ここまで reset.css ****/
@import "font";

$white1: rgba(255,255,255,1);
$white2: rgba(255,255,255,0.95);
$black: rgba(70,70,70,1);
$black2: lighten($black, 20%);
$black3: lighten($black2, 20%);
$black4: darken($black, 20%);
$main: rgba(248,248,250,1);
$orange: rgba(255,70,90,1);
$orange2: lighten($orange, 10%);
$orange3: lighten($orange2, 10%);
$orange4: darken($orange, 30%);
$contact: rgba(230,230,245,1);
$keep: rgba(255,127,0,1);
$keep2: lighten($keep, 20%);
$keep3: lighten($keep2, 20%);
$keep4: darken($keep, 20%);
$blue: rgba(0,100,205,1);


input{@include appearance(none);}
.submit{@include appearance(none);}
select{@include appearance(none);}
a{display:block;text-decoration:none; color: #000; }
img{display:block}
html,body{
	font-family: sans-serif ,Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック";
	-webkit-text-size-adjust: 100%;
	overflow-x:hidden;
}

.wrapper{
	margin: 0 auto;
	width: 96%;
}
.clearfix{
	*zoom:1;
	&:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
}
.header{
	position: fixed;
	top:0;
	width: 100%;
	background: $white2;
	z-index: 10;
	.header_inner{
		.header_title{
			width: 96%;
			padding: 5px 2%;
			@include box-shadow(0 2px 2px 1px rgba(80,80,80,0.5));
			@extend .clearfix;
			h1{
				font-size: 80%;
				font-weight: bold;
				margin-bottom: 5px;
				@include ellipsis(no-wrap);
			}
			.header_title_logo{
				float:left;
				a{
					font-size: 240%;
					font-weight: bold;
					&:hover{
						@include filter(opacity(0.9));
					}
				}
			}
			.header_menu_toggle{
				display: inline-block;
				float: right;
				padding: 8px 4%;
				margin-right: 2%;
				text-align: center;
				font-weight: bold;
				color: $white1;
				background: $orange;
				font-size: 110%;
				@include box-shadow(0 3px 0 $orange4);
				@include border-radius(3px);
			}
		}
		.header_menu{
			display: none;
			@extend .clearfix;
			.header_menu_list {
				width: 100%;
				border-bottom: 1px solid $black3;
				&:first-child{
					border-bottom: none;
				}
				.header_menu_list_title{
					padding: 15px 0;
					text-align: center;
					color: $white1;
					background: $black;
					font-size: 120%;
				}
				.keep_list{
					margin: 10px 5%;
					padding: 15px 0;
					width: 90%;
					font-size: 140%;
					background: $keep;			
					font-weight: bold;		
					@include box-shadow(0 2px 0 $keep4);
					@include border-radius(3px);
				}
				.header_menu_list_detail{
					width: 100%;
					@extend .clearfix;
					li{
						float:left;
						width: 49.5%;
						text-align: center;
						border-bottom:1px solid $black3;
						a{
							padding: 15px 0;
						}
					}
				}
			}
			.register{
				border-bottom:1px solid $black3;;
				a {
					font-size: 140%;
					background: $orange;
					border-radius: 2px;
					padding: 15px 5%;
					margin: 10px 5%;
					text-align: center;
					color: $white1;
					font-weight: bold;
					@include box-shadow(0 3px 0 $orange4);
					@include border-radius(2px 2px 4px 4px);
				}
			}
		}
	}
}
.main{
	width: 100%;
	background: $main;
	border-bottom: 2px solid rgba(205,205,205,0.8);
	.container{
		position: relative;
		width: 100%;
		padding: 10px 0;
		@extend .clearfix;
		.breadcrumb{
			display: none;
		}
		.sub_content{
			display: none;
		}
	}
}
.footer{
	.footer_navi{
		@extend .clearfix;
		.facebook_area{
			margin: 0 auto;
			width: 90%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.footer_navi_list{
			width: 100%;
			@extend .clearfix;
			section{
				width: 100%;
				h2{
					padding: 10px 0;
					background: $black;
					color: $white1;
					text-align: center;
					font-weight: bold;
				}
				ul{
					li{
						border-bottom:1px solid $black3;
						text-align: center;
						font-weight: bold;
						a{
							padding: 20px 0;
						}
					}
				}
			}
			section:nth-child(2){
				ul{
					@extend .clearfix;
					li{
						float:left;
						width:49%;
					}
				}
			}
		}
	}
	.copyright{
		padding: 15px 0;
		background: $black;
		p{
			text-align: center;
			color: $white1;
			font-size: 80%;
		}
	}
}
.sp_bottom_menu{
	position: fixed;
	bottom: 0;
	width: 94%;
	padding: 10px 3%;
	background: rgba(0,0,0,0.7);
	z-index: 11;
	font-size: 120%;
	font-weight: bold;
	@extend .clearfix;
	.keep_list{
		float: left;
		width: 48%;
		padding: 10px 0;
		text-align: center;
		color: $white1;
		background: $keep;
		@include box-shadow(0 3px 0 $keep4);
		@include border-radius(3px);
	}
	.regist{
		float: right;
		width: 48%;
		padding: 10px 0;
		text-align: center;
		color: $white1;
		background: $orange;
		@include box-shadow(0 3px 0 $orange4);
		@include border-radius(3px);
	}
}
