@import "sp_common";

.main_content{
	@extend .wrapper;
	.search_header{
		margin: 20px 0;
		@extend .clearfix;
		.search_result{
			margin-bottom: 30px;
			font-weight: bold;
			span{
				display: inline-block;
				font-weight: normal;
				font-size: 90%;
				margin-left:10px;
				&:first-child{
					color:$orange;
					font-size: 140%;
					font-weight: bold;
					margin: 0;
				}
			}
		}
		.search_panel_open{
			margin: 0 auto;
			width: 60%;
			padding: 10px 0;
			text-align: center;
			color: $white1;
			background: $black;
			cursor: pointer;
			background: $black2;
			@include box-shadow(0 3px 0 $black4);
			@include border-radius(2px 2px 4px 4px);
		}
	}
	.search{
		display: none;
		width: 100%;
		margin-bottom: 30px;
		h2{
			font-weight: bold;
			margin-bottom: 5px;
		}
		.freeword_search{
			width: 100%;
			margin-bottom: 30px;
			.freeword_search_form{
				width: 80%;
				padding: 15px 10%;
				background: $white1;
				@include box-shadow(1px 1px 1px 1px rgba(205,205,205,0.8));
				.freeword{
					width: 80%;
					height: 100%;
					font-size: 100%;
					padding: 5px 0;
					@include border-radius(3px 0 0 3px);
				}
				.submit{
					float: right;
					width: 20%;
					font-size: 100%;
					padding: 3px 5%;
					color: $white1;
					border: none;
					background: $orange;
					@include border-radius(0 3px 3px 0);					
					@include box-shadow(0 3px 0 $orange4);
				}
			}
		}
		.search_panel{
			width: 100%;
			margin-top: 10px;
			.search_panel_tab_list{
				@extend .clearfix;
				.search_panel_tab{
					float: left;
					width: 30%;
					margin-right: 2%;
					padding: 12px 0;
					text-align: center;
					background: rgba(125,125,125,1);
					color: $white1;
					cursor: pointer;
					border-right: 2px solid rgba(205,205,205,0.6);
					@include border-radius(3px 3px 0 0);
					&:hover{
						@include filter(opacity(0.9));
					}
				}
				.on {
					background: $white1;
					color: $orange;
					cursor: default;
					border: 1px solid $orange;
					border-bottom:none;
				}
			}
			.search_panel_box{
				width: 100%;
				background: $white1;
				@include box-shadow(1px 1px 1px 1px rgba(205,205,205,0.8));
				.search_panel_select{
					display: none;
					width: 90%;
					min-height: 120px;
					padding: 10px 5%;
					@extend .clearfix;
					&:first-child{
						display: block;
					}
					div{
						float:left;
						width: 48%;
						margin-right: 2%;
						font-size: 110%;
						margin-bottom: 10px;
						@include ellipsis(no-wrap);
						input[type=radio] + label,
						input[type=checkbox] + label {
							position: relative;
							display: inline-block;
							line-height: 30px;
							cursor: pointer;
						}
						@media (min-width: 1px) {
						   input[type=radio]{
							    display: none;
						        margin: 0;
							   	+ label {
							        padding: 0 0 0 24px;
								    &:before {
								    	display: block;
								        position: absolute;
								        top: 50%;
								        left: 0;
								        content: "";
								        width: 20px;
								        height: 20px;
								        margin-top: -10px;
								        border: 2px solid #ccc;
								        border-radius: 30px;
								        @include box-sizing(border-box);
								    }
								    &:hover:before{
								    	border: 2px solid $orange;
								    }
						    	}
						    }
						    input[type=checkbox] {
						        display: none;
						        margin: 0;
						        + label {
							        padding: 0 0 0 24px;
								    &:before {
								    	display: block;
								        position: absolute;
								        top: 50%;
								        left: 0;
								        content: "";
								        width: 20px;
								        height: 20px;
								        margin-top: -10px;
								        border: 2px solid #ccc;
								        @include box-sizing(border-box);
								    }
								    &:hover:before{
								    	border: 2px solid $orange;
								    }
								}
							}
						    input[type=radio]:checked + label{
						    	&:before{
							    	border: 2px solid $orange;
							    }
							    &:after{
							        content: "";
							        position: absolute;
							        top: 50%;
							        left: 5px;
							        width: 10px;
							        height: 10px;
							        margin-top: -5px;
							        background: $orange;
							        @include border-radius(10px);
							        @include box-sizing(border-box);
							    }
						    }
						    input[type=checkbox]:checked + label {
						    	&:before {
						    		border: 2px solid $orange;
						    	}
						    	&:after{
							        content: "";
							        position: absolute;
							        top: 50%;
							    	top:55%;
							        left: 3px;
							        width: 14px;
							        height: 7px;
							        margin-top: -7px;
							        border-left: 3px solid $orange;
							        border-bottom: 3px solid $orange;
							        @include transform(rotate(-45deg));
							        @include box-sizing(border-box);
							    }
						    }
						}
					}
				}
				.search_panel_selected{
					width: 96%;
					padding: 10px 2%;
					.selected_item_box{
						position: relative;
						width: 100%;
						border: 1px solid rgba(205,205,205,0.8);
						display: table;
						@extend .clearfix;
						dt {
							display: table-cell;
							vertical-align: middle;
							width: 16%;
							padding: 25px 2%;
							text-align: center;
							background: $orange;
							color: $white1;
						}
						dd{
							display: table-cell;
							width: 78%;
							padding: 5px 1% 30px;
							.selected_item_default{
								position: absolute;
								top: 40%;
								left: 30%
							}
							span{
								display: inline-block;
								margin-right: 10px;
								margin-bottom: 10px;
								padding: 8px;
								cursor: pointer;
								color: $white1;
								font-size: 90%;
								border-radius: 4px;
								border: 1px solid $orange;
								@include background(linear-gradient($orange2, $orange));
								&:hover{
									@include background(linear-gradient($orange3, $orange));
								}
							}
						}
						.selected_item_all_delete{
							position: absolute;
							right: 1%;
							bottom:2%;
							display: none;
							a{
								padding: 8px;
								color: $white1;
								font-size: 90%;
								border-radius: 4px;
								background: $black2;
								@include box-shadow(0 3px 0 $black4);
								@include border-radius(2px 2px 4px 4px);
								&:before{
									display: inline-block;
									content: "×";
									margin-right: 5px;
								}
							}
						}
					}
				}
				.submit_area {
					margin: 0 auto;
					padding: 20px 15%;
					.submit{
						width: 100%;
						padding: 10px 0;
						font-weight: bold;
						font-size: 120%;
						color: $white1;
						background: $black;
						border:none;
						background: $black2;
						@include box-shadow(0 3px 0 $black4);
						@include border-radius(2px 2px 4px 4px);
					}
				}
			}
		}
	}
	.project_list{
		width: 100%;
		section {
			position: relative;
			width: 100%;
			margin-bottom: 20px;
			background: $white1;
			@include box-shadow(1px 1px 1px 1px rgba(205,205,205,0.8));
			.project_inner{
				width: 96%;
				padding: 10px;
				.title{
					width: 70%;
					margin-bottom: 20px;
					font-weight: bold;
					font-size: 140%;
					color: $orange;
					@include ellipsis(no-wrap);
				}
				.body{
					width: 100%;
					margin-bottom: 20px;
					@include ellipsis(no-wrap);
				}
				table {
					width: 100%;
					table-layout: fixed;
					tr {
						font-size: 90%;
						border-bottom: 2px solid rgba(225,225,225,0.8);
						th{
							width: 30%;
							padding: 8px 0;
							background: $black;
							color: $white1;
							text-align: center;
						}
						td{
							width: 68%;
							padding-left: 2%;
							@include ellipsis(no-wrap);					
						}
					}
				}
				.project_overlay{
					display: none;
				}
			}
			.keep{
				position: absolute;
				top: 5px;
				right: 10px;
				z-index: 9;
				font-size: 110%;
				.keep_data{
					padding: 10px 0;
					text-align: center;
					color: $black3;
					font-weight: bold;
				}
				.keep_delete{
					padding: 10px 0;
					text-align: center;
					color: $keep;
					font-weight: bold;
				}
			}
		}
	}
	.pagenate {
		width: 100%;
		margin: 30px 0;
		text-align: center;
		.now {
			display: inline-block;
			padding: 10px;
			color: #fff;
			text-align: center;
			background: $black3;
			border: 1px solid #eee;
			border-radius: 4px;
		}
		span{
			display: inline-block;
			margin-right: 15px;
			&:last-child{
				margin-right:0;
			}
			a{
				display: inline-block;
				padding: 10px;
				color: $white1;
				text-align: center;
				border-radius: 4px;
				@include background(linear-gradient($orange2, $orange));
				&:hover{
					@include background(linear-gradient($orange3, $orange));
				}

			}
		}
	}
}