@charset "utf-8";
/* CSS Document */
body {
	font: 100%/1.4 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	background:url(../images/pc/bg.png) no-repeat #000;
	overflow:hidden;
}
a img {border: none;}

a:link {
	color:#414958;
}
a:visited {
	color: #4E5869;
}
a:hover, a:active, a:focus {text-decoration: none;}
.container {
	width: 100%;
/*	max-width: 1260px;
	min-width: 780px;*/
	margin: 0 auto;
	background:#000;
}
.content_bg {
	width: 1016px;
	height: 855px;
	background:url(../images/pc/character.png) no-repeat;
	background-position: -180px 0px;
	margin: -70px auto 0;
}
.content {
	padding:  0;
	width: 90%;
	margin: 0 auto;
	background: url(../images/pc/bg.png) repeat;
	background-attachment: fixed;
	background-size: cover;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.logo {
	padding: 290px 0 0 0px;
}
.sub_ttl {
	width:435px;
}
#apps {
	float:right;
	}
#apps:after {
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
	}
#apps img:first-child {
	margin-bottom:10px;
	display:block;
	}
#header {
	background:url(../images/pc/header_bg.png) repeat-x;
	background-position:0 -10px;
	background-size: 10px 210px;
	height: 130px;
	width: 100%;
	text-align:center;
	}
#header > div {display:inline-block;}
.info {
	width:403px;
	height:165px;
	padding: 20px 0 0 40px;
	background:url(../images/pc/infomation.png) no-repeat;
	margin-top:12px;
	background-size: 100%;
	}
.info p {
	height:145px;
	color:#FFF;
	font-size:13px;
	line-height:18px;
	/*background:url(../images/pc/info_bd.png) bottom no-repeat;*/
	margin:0;
	padding:10px 0;
	}
#info_scroll {
	height:90%;
	width:95%;
	margin:10px 0;
	overflow: auto;	
	}
.info p span.red {
	font-weight:bold;
	color:red;
	}
/*infoのスクロールバー*/
#info_scroll::-webkit-scrollbar{
	width: 5px;
	background: #0c606a;
}
#info_scroll::-webkit-scrollbar-thumb{
	background: #15B0C1;
	border-radius: 2px;
}
.help {
	margin: 90px 20px 0 0;
	}
#footer {
	text-align: center;
	background: url(../images/pc/footer_bg.png) repeat-x;
	height: 60px;
	width: 100%;
	margin-top:-70px;
	padding-top: 10px;
	/*position:absolute; top:-70px;*/
	background-position:0 -30px;
	background-size:10px 120px;
}

#footer img {margin-top:60px;}
#middle_contents {width:980px;margin:0 auto;}
.padding_top_20 {padding-top:20px;}
.width50per {width:50%;}
.width90per {width:90%; margin:0 auto;}
.width100per {width:100%;}
.position_r {position:relative;}

