@charset "UTF-8";

html,body {
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	width: 100%;
	margin: 0 auto;
}
img {
	display: block;
}
.nav:after, .wrapper:after {
	content: ".";
	height: 0;
	font-size: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
a.newslink:link{color:#16AEC1;}
a.newslink:visited{color:#16AEC1;}

#background {
	background-image: url(../images/pc/lp_background.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#header {
	width: 100%;
	}
	.wrapper {
		margin: 0 auto;
		width: 75%;
		max-width: 1160px;
	}
	.sns {
		margin: 0 auto;
		width: 100%;
		max-width: 1480px;
		height: 25px;
		padding-top: 10px;
	}
		.sns>li {
			float: right;
			margin-right: 5px;
		}
	.top_image {
		margin: 0 auto;
		width: 100%;
		max-width: 1480px;
		margin-bottom: 40px;
	}
.content {
	padding: 5%;
	border: 2px solid #01e0ff;
	color: #fff;
	text-align:center;
	font-size: 140%;
	margin-bottom: 30px;
	background: rgba(0,0,0,0.4);
}

.content ul {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.content ul li {
	border-bottom: 1px dashed #fff;
	padding: 5px;
}
#sapportBtn {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#footer {
	margin: 0 auto;
	width: 100%;
	height: 100px;
}
.footer_text {
	width: 60%;
	margin: 0 20%;
	height: 50%;
}