@charset "utf-8";
/* CSS Document */
html, body{font: 100%/1.4 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;margin: 0px;padding: 0px;height: 100%;font-size: 62.5%;}
body {width:100%; background: #000; /*letter-spacing: 10px; line-height: 2em;*/ font-size: 1.4rem; -webkit-text-size-adjust: 100%;}

.info_bg {width: auto; height: 210px; padding: 20px 10px 20px 10px; background: url(../images/sp/PsychoPass_LP_SP1_11.png) no-repeat;margin: 60px auto 0 auto; background-size: 99% 100%;}
.info_bg p {color:#FFF; font-size:18px; line-height:18px;/*background:url(../images/sp/info_bd.png) bottom no-repeat;*/margin:0;padding:15px 0;}
.info_bg::-webkit-scrollbar{
	width: 5px;
	background: #0c606a;
}
.info_bg::-webkit-scrollbar-thumb{
	background: #15B0C1;
	border-radius: 2px;
}

ul.info_list {padding: 0;font-size: 15px;height:100%;overflow:auto;}
ul.info_list li {width:auto;background:url(../images/sp/PsychoPass_LP_SP1_12.png) bottom no-repeat;color:#FFF;list-style:none;}

.info_bg_l {width: 14px; height: 269px; /*	background: url(../images/sp/info_left.png) no-repeat;*/ margin:  0; padding: 0;}
.info_bg_c {width: 98%; height: 269px; background: url(../images/sp/info_center.png) repeat-x; margin:  0; padding: 0;}
.info_bg_r {width: 14px; height: 269px; /*	background: url(../images/sp/info_right.png) no-repeat;*/ margin:  0; padding: 0;}

.info_bg p span.red {
	font-weight:bold;
	color:red;
	}
.align_left   {text-align:left;}
.align_center {text-align:center;}
.align_right  {text-align:right;}
.width50per {width:50%;}
.width90per {width:90%;}
.width100per {width:100%;}
.position_r {position:relative;}
.margin_auto {margin: 0 auto;}
.margin_h_20 {margin: 20px 0;}

a img {border: none;}
a:link {color:#414958;}
a:visited {color: #4E5869;}
a:hover, a:active, a:focus {text-decoration: none;}
.fltrt {float: right;}
.fltlft {float: left;}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#next_open {position:absolute; top:-20px; text-align:center; width: 100%;}
#next_open img {width:40%;}
#next_open img first-child {margin-right:15px;}
#copy {text-align:center; margin: 100px 0 0 0;}

/*スクロールバーの設定*/
 ::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(21,176,194,1);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(21,176,194,1);
}

@media screen and (max-width:640px){
}
