@CHARSET "UTF-8";

.fleft {
	float:left;	
}
.clr {
	clear:both;
}


.cell_01 {
	width:100px;
}
.cell_02 {
	width:100px;
}
.cell_03 {
	width:200px;
}
.cell_04 {
	width:200px;
}
.cell_05 {
	width:50px;
}
.day_select_group {
	display:block;
	overflow:hidden;
	margin-bottom:10px;
}
.day_select {
	width:80px;
	float:left;
}
.day_select_txt {
	padding:10px 10px 0px 5px;
	float:left;
}
.confirm_txt {
	padding:0px 10px 20px 20px;
}